<div class="login w-full flex justify-center border-gray-700">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-4 max-w-[480px]">
    <p-input-group class="my-2">
      <p-inputgroup-addon>
        <i class="pi pi-user"></i>
      </p-inputgroup-addon>
      <input
        name="username"
        id="username"
        pInputText
        formControlName="username"
        placeholder="Enter Username"
        type="text"
      />
    </p-input-group>
    <p-input-group class="my-2">
      <p-inputgroup-addon>
        <i class="pi pi-lock"></i>
      </p-inputgroup-addon>
      <input
        name="password"
        id="password"
        pInputText
        formControlName="password"
        placeholder="Enter Password"
        type="password"
      />
    </p-input-group>
    <div class="flex w-full justify-center mt-4">
      <p-button
        [disabled]="!loginForm.valid"
        icon="pi pi-user"
        [loading]="loaders.isLoading(LoaderActions.LOG_IN)"
        type="submit"
        label="Login"
      />
    </div>
  </form>
</div>
