<div class="login w-full flex justify-center border-gray-700">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-4 max-w-[480px]">
    <mat-form-field appearance="outline" class="w-full">
      <mat-icon class="pi pi-user" matPrefix />
      <input matInput formControlName="username" placeholder="Enter username" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full mt-4">
      <mat-icon class="pi pi-lock" matPrefix />
      <input matInput formControlName="password" placeholder="Enter password" type="password" />
    </mat-form-field>
    <div class="flex w-full justify-center mt-4">
      <button mat-raised-button color="primary" type="submit">Login</button>
    </div>
  </form>
</div>
