<nav class="shadow-md w-full flex items-center justify-between min-h-[60px]">
  <div class="h-8 w-8 mr-inline rounded-md shadow-md object-cover bg-surface-d"></div>

  <div class="relative flex">
    <ul class="flex gap-4 list-none m-0 p-0">
      @for (link of navLinks; track link) {
        <li class="rounded-md transition-colors hover:bg-surface-d">
          <a
            [routerLink]="link.to"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-gray-300 text-gray-300"
            [routerLinkActiveOptions]="{ exact: link.to === '/' }"
            #rla="routerLinkActive"
            class="inline-block font-inter font-medium text-base px-3.5 py-2 rounded-md transition-colors text-text hover:bg-primary hover:text-primary-color-text focus:outline-none focus:ring-2 focus:ring-primary"
            [ngClass]="{ 'text-text-secondary': !rla.isActive }"
            [attr.aria-current]="isActive(link.to) ? 'page' : null"
          >
            {{ link.label }}
          </a>
        </li>
      }
    </ul>
  </div>
  <div class="flex gap-1">
    <p-button (click)="router.navigate(['login'])" [rounded]="true" label="LOG IN" />
    <p-button (click)="router.navigate(['register'])" [rounded]="true" outlined label="SIGN IN" />
  </div>
</nav>
