path {
  margin: 0;
  padding: 0;
  fill: #ffffff;
  background: #000000;
}

#svg2 {
  zoom: 0.2;
}

.H6502 {
  width: 100%;
  justify-content: center;
  display: flex;
}

.abstract {
}

button {
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
