nav.nav {
  display: flex;
  justify-content: space-between;
  background-color: #8abeeb;
}

ul.nav-list {
  display: flex;
}

li.nav-item {
  list-style: none;
  margin: 10px;
  padding: 5px;
}

.nav-link {
  text-decoration: none;
}
.nav-logo {
  height: 25px;
  width: 25px;
}