<div class="chessboard">
  <table class="grid loader-container" id="chessgrid">
    @for (rank of board; let i = $index; track i) {
      <tr class="rank">
        @for (tile of rank; let j = $index; track j) {
          <td
            [ngClass]="{ tile: true, dark: (i + j) % 2 === 1, light: (i + j) % 2 === 0 }"
            cdkDropList
            (cdkDropListDropped)="drop($event, i, j)"
          >
            @if (board[i][j]) {
              <div class="piece flex justify-center items-center" cdkDrag>
                <div class="w-4 h-4 rounded-full bg-[#0ff5]"></div>
                <!--                <img-->
                <!--                  ngSrc="{{ appData.PIECE_IMG[board[i][j]!.color ? 1 : 0][board[i][j]!.piece] }}"-->
                <!--                  alt="{{ appData.PIECE_IMG[board[i][j]!.color ? 1 : 0][board[i][j]!.piece] }}"-->
                <!--                  [width]="config.tileSize"-->
                <!--                  [height]="config.tileSize"-->
                <!--                />-->
              </div>
            }
          </td>
        }
      </tr>
    }
  </table>
</div>
