.chessboard {
  display: flex;
  justify-content: center;
  align-content: center;

  table.grid {
    border-spacing: 0;

    tr {
      td.tile {
        position: relative;
        height: 50px;
        width: 50px;

        .piece {
          position: absolute;
          top: 0;
          left: 0;
          cursor: grab;
          height: 100%;
          width: 100%;
          z-index: 1;

          &:active {
            cursor: grabbing;
          }
        }

        .mark {
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 30%;
          left: 30%;
          border-radius: 50%;
          height: 40%;
          width: 40%;
          background-color: #473f3944;
        }

        .mark-piece {
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 15%;
          left: 15%;
          border-radius: 50%;
          height: 70%;
          width: 70%;
          border: solid 5px #473f3965;
        }
      }

      td.dark {
        //background-color: #0000;
        background-color: #b88762;
      }

      td.light {
        //background-color: #0000;
        background-color: #edd6b0;
      }
    }
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
