<div class="login w-full h-[80%] flex items-center justify-center">
  <form
    class="p-[32px] w-full max-w-[480px] border border-gray-500 rounded-lg"
    [formGroup]="regForm"
    (ngSubmit)="onSubmit()"
  >
    <!-- Username -->
    <p-input-group class="my-4">
      <p-inputgroup-addon>
        <i class="pi pi-at"></i>
      </p-inputgroup-addon>
      <p-floatlabel variant="on">
        <input name="username" id="username" pInputText formControlName="username" type="text" />
        <label for="username">Enter Username*</label>
      </p-floatlabel>
    </p-input-group>
    <!--    @if (regForm.get('username')?.touched && getError('username')) {-->
    <!--      <small class="text-red-500">-->
    <!--        {{ getError('username') }}-->
    <!--      </small>-->
    <!--    }-->

    <!-- Name -->
    <p-input-group class="my-4">
      <p-inputgroup-addon><i class="pi pi-user"></i></p-inputgroup-addon>
      <p-floatlabel variant="on">
        <input name="name" id="name" pInputText formControlName="name" type="text" />
        <label for="name">Enter Name*</label>
      </p-floatlabel>
    </p-input-group>
    <!--    @if (regForm.get('name')?.touched && getError('name')) {-->
    <!--      <small class="text-red-500">-->
    <!--        {{ getError('name') }}-->
    <!--      </small>-->
    <!--    }-->

    <!-- Password -->
    <p-input-group class="my-4">
      <p-inputgroup-addon>
        <i class="pi pi-lock"></i>
      </p-inputgroup-addon>
      <p-floatlabel variant="on">
        <input
          name="password"
          id="password"
          pInputText
          formControlName="password"
          type="password"
        />
        <label for="name">Enter Password*</label>
      </p-floatlabel>
    </p-input-group>
    <!--    @if (regForm.get('password')?.touched && getError('password')) {-->
    <!--      <small class="text-red-500">-->
    <!--        {{ getError('password') }}-->
    <!--      </small>-->
    <!--    }-->

    <!-- Confirm Password -->
    <p-input-group class="my-4">
      <p-inputgroup-addon>
        <i class="pi pi-lock"></i>
      </p-inputgroup-addon>
      <p-floatlabel variant="on">
        <input
          name="passwordCfm"
          id="passwordCfm"
          pInputText
          formControlName="passwordCfm"
          type="password"
        />
        <label for="passwordCfm">Confirm Password*</label>
      </p-floatlabel>
    </p-input-group>
    <!--    @if (regForm.get('password1')?.touched && getError('passwordCfm')) {-->
    <!--      <small class="text-red-500">-->
    <!--        {{ getError('passwordCfm') }}-->
    <!--      </small>-->
    <!--    }-->

    <!-- Buttons -->
    <div class="flex flex-col w-full gap-2 mt-4">
      <p-button
        icon="pi pi-user-plus"
        [loading]="loaders.isLoading(LoaderActions.SIGN_IN)"
        type="submit"
        label="REGISTER"
        [rounded]="true"
        styleClass="w-full"
      />

      <p-button
        [rounded]="true"
        icon="pi pi-user"
        [loading]="loaders.isLoading(LoaderActions.SIGN_IN)"
        label="LOG IN"
        outlined
        styleClass="w-full"
        (click)="router.navigate(['login'])"
      />
    </div>

    <div class="w-full text-center my-2">OR</div>

    <!-- Social Logins -->
    <div class="flex justify-center item-center w-full gap-1">
      <div class="google">
        <button>
          <img
            class="w-[32px] h-[32px] rounded-full"
            ngSrc="/images/google.svg"
            alt="Google Login"
            height="24"
            width="24"
          />
        </button>
      </div>
      <div class="github">
        <button>
          <img
            class="w-[32px] h-[32px] rounded-full"
            ngSrc="/images/github.svg"
            alt="GitHub Login"
            height="96"
            width="98"
          />
        </button>
      </div>
      <div class="microsoft">
        <button>
          <img
            class="w-[32px] h-[32px] rounded-full"
            ngSrc="/images/microsoft.svg"
            alt="Microsoft Login"
            height="16"
            width="16"
          />
        </button>
      </div>
    </div>
  </form>
</div>
