.workspace {
  background: #232837;
  border-radius: 16px;
  box-shadow: 0 4px 24px #000a;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100vw;
  height: 100vh;
}

.project-area {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
