<div class="chat-container flex h-full w-full bg-(--bg-root) border-l border-(--bg-surface-3)">
  <div class="side-pane w-100 h-full">
    <div class="request">
      <button
        class="ms-2 mt-2"
        matFab
        (click)="router.navigate(['new'], { relativeTo: route })"
      >
        <mat-icon>create</mat-icon>
      </button>
      <button class="ms-2" matFab extended
              (click)="router.navigate(['all'], { relativeTo: route })"
      >
        <mat-icon>mark_chat_unread</mat-icon>
        REQUESTS
      </button>
    </div>

    <div></div>
  </div>
  <div class="main-pane flex-1 h-full w-full">
    <router-outlet />
  </div>
</div>
