@theme {

}

.mdc-notched-outline__notch {
  border-right: none;
}

html, body {
  height: 100%;
}

*::-webkit-scrollbar {
  display: none;
}

*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--bg-root-900);
  color: var(--text-primary);
}
