@import "primeicons/primeicons.css";
/*@import "./assets/theme.css";*/

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@tailwind screens;

html, body {
  height: 100%;
}

button {
  border-radius: calc(infinity * 1px) !important;
}

*::-webkit-scrollbar {
  display: none;
}

*, ::before, ::after {
  box-sizing: border-box;
}

