@import "primeicons/primeicons.css";
@import '@angular/material/prebuilt-themes/cyan-orange.css';
@import "./assets/theme.css";

html, body {
  height: 100%;
}

button {
  border-radius: calc(infinity * 1px) !important;
}

*::-webkit-scrollbar {
  display: none;
}

*, ::before, ::after {
  box-sizing: border-box;
}

