.p-toast {
  opacity: 1;
}
.p-toast .p-toast-message {
  margin: 0 0 1rem 0;
  box-shadow: none;
  border-radius: 6px;
}
.p-toast .p-toast-message .p-toast-message-content {
  padding: 1rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-text {
  margin: 0 0 0 1rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon {
  font-size: 2rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-message-icon.p-icon {
  width: 2rem;
  height: 2rem;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-summary {
  font-weight: 700;
}
.p-toast .p-toast-message .p-toast-message-content .p-toast-detail {
  margin: 0.5rem 0 0 0;
}
.p-toast .p-toast-message .p-toast-icon-close {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: transparent;
  transition:
    background-color 0.2s,
    color 0.2s,
    box-shadow 0.2s;
}
.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.5);
}
.p-toast .p-toast-message .p-toast-icon-close:focus-visible {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(34, 211, 238, 0.2);
}
.p-toast .p-toast-message.p-toast-message-info {
  background: rgba(59, 130, 246, 0.2);
  border: solid #3b82f6;
  border-width: 0 0 0 6px;
  color: #93c5fd;
}
.p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-info .p-toast-icon-close {
  color: #93c5fd;
}
.p-toast .p-toast-message.p-toast-message-success {
  background: rgba(16, 185, 129, 0.2);
  border: solid #10b981;
  border-width: 0 0 0 6px;
  color: #6ee7b7;
}
.p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #6ee7b7;
}
.p-toast .p-toast-message.p-toast-message-warn {
  background: rgba(234, 179, 8, 0.2);
  border: solid #eab308;
  border-width: 0 0 0 6px;
  color: #fde047;
}
.p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-warn .p-toast-icon-close {
  color: #fde047;
}
.p-toast .p-toast-message.p-toast-message-error {
  background: rgba(239, 68, 68, 0.2);
  border: solid #ef4444;
  border-width: 0 0 0 6px;
  color: #fca5a5;
}
.p-toast .p-toast-message.p-toast-message-error .p-toast-message-icon,
.p-toast .p-toast-message.p-toast-message-error .p-toast-icon-close {
  color: #fca5a5;
}
.p-toast-message {
  backdrop-filter: blur(10px);
}

.p-toast .p-toast-message .p-toast-icon-close:hover {
  background: rgba(255, 255, 255, 0.1);
}
